name: Release

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    uses: craigsloggett-lab/.github/.github/workflows/reusable-release-terraform.yml@restructure-workflows
  publish:
    name: Publish
    needs: release
    if: needs.release.outputs.new-release-published
    uses: craigsloggett-lab/.github/.github/workflows/reusable-publish-terraform.yml@restructure-workflows
    with:
      new-release-version: ${{ needs.release.outputs.new-release-version }}
      hcp-terraform-organization-name: craigsloggett-lab
    secrets:
      hcp-terraform-api-token: ${{ secrets.TF_TOKEN_app_terraform_io }}
