name: Release

on:
  push:
    branches:
    - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    uses: craigsloggett-lab/.github/.github/workflows/reusable-publish-terraform.yml@add-reusable-workflows
    with:
      hcp-terraform-organization: craigsloggett-lab
    secrets:
      hcp-terraform-api-token: ${{ secrets.TF_TOKEN_app_terraform_io }}
